.example-container {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    min-width: 100%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: auto;
    width:  100%;
    
  }

  .spacer {
    word-spacing: 1px;
  }
  
  .pointer{
    cursor: pointer;
  }
  
  .blue
  {
color: blue;
  }

  .middle
  {
    vertical-align: middle;
  }

  .right
  {
    float: right;
  }

.mobile-label {
    display: none;
  }

@media(max-width: 600px) {
    .mobile-label {
      width: 100px;
      display: inline-block;
          font-weight: bold;
    }
  
    .mat-header-row {
      display: none;
    }
  
    .mat-row { 
      flex-direction: column;
      align-items: start;
      padding: 8px 24px;
    }
  }